#banner {
  text-align: center;
  background-color: red;
  height: 75px;
}

#sidebar {
  background-color: yellow;
  height: 800px;
}

#main {
  background-color: grey;
  height: 800px;
}

#main .form-control {
  width: 50%;
}
